<div class="contact_form_wrapper">
    <form id="contact_form">
        <div class="contact-form-text"></div>
        <label for="email">Email:</label>
        <input type="text" name="email" value=" " required="">
        <label for="Subject">Subject:</label>
        <select name="subject" required="">
            <option value="">Please Select</option>
            <option value="Comments">Comments</option>
            <option value="Compliments">Compliments</option>
            <option value="Concerns">Concerns</option>
            <option value="Report an Issue">Report an Issue</option>
            <option value="Other">Other</option>
        </select>
        <label for="message">Message:</label>
        <textarea name="message"></textarea>
        <div class="contact-submit"><input type="submit" value="Send Email"></div>
    </form>
</div>