            <!--Enables this element to be scrolled -->
            <div class="header-clear-large"></div>

            <div id="alerts" class="text-slider content" style="display:
            none">
                
                <ul data-bind="foreach: Items">
                    <li style="display: inline"><a style="display: inline !important" data-bind="attr: {href: link}"><span style="color: yellow" data-bind="text: title"></span></a></li>
                 </ul>
                    

            </div>

            <!-- Needs JSON -->
            <!--
            <div class="news-slider">
                <a href="#" class="news-slider-item">
                    <img class="responsive-image" src="images/334f5ce0-c3f4-48f3-aa63-6edec5317909.jpg" alt="img">
                    <h3>Android 20 is absolutely awesome! You need to see it yourself!</h3>
                </a>
                <a href="#" class="news-slider-item">
                    <img class="responsive-image" src="images/pictures/2.jpg" alt="img">
                    <h3>iPhone renamed to ApplePhone and the Apple watch is now iWatch?!</h3>
                </a>
                <a href="#" class="news-slider-item">
                    <img class="responsive-image" src="images/pictures/3.jpg" alt="img">
                    <h3>The best device of the year is here, what's your device of choice?</h3>
                </a>
            </div>
            -->
            <div class="content">
                <div class="home-tabs">
                    <a name="tab-news" class="activate-tab-1 active-home-tab" href="#">News</a>
                    <a name="tab-events" class="activate-tab-2" href="#">Events</a>
                    <a name="tab-council" class="activate-tab-3" href="#">Council</a>
                    <div class="clear"></div>
                </div>
            </div>

            <div class="content" id="tab-1">
                <div id="newsitems" class="thumb-layout" data-bind="foreach: Items">
                    <a data-bind="attr: {href: link}">
                        <strong data-bind="html: title"></strong>
                        <em data-bind="html: short"></em>
                    </a>

                </div>
                <div class="decoration"></div>
            </div>

            <div class="content" id="tab-2">
                <div id="eventItems" class="thumb-layout" data-bind="foreach: Items">
                    <a data-bind="attr: {href: link}">
                        <strong data-bind="html: title"></strong>
                        <em data-bind="html: short"></em>
                    </a>
                </div>

                <div class="decoration"></div>
            </div>

            <div class="content" id="tab-3">
                <div id="councillorItems" class="thumb-layout" data-bind="foreach: Items">
                    <a data-bind="attr: {href: link}">
                        <strong data-bind="html: title"></strong>
                        <em data-bind="html: short"></em>
                    </a>
                </div>

                <div class="decoration"></div>
            </div>


