<div class="has-submenu">
                    
                    <a class="menu-item open-submenu" href="#">
                        
                        <i class="fa fa-list-ul bg-blue-dark"></i>
                        Lists
                        <i class="fa fa-angle-right"></i>
                    </a>
                    
                    <div class="submenu">
                        <!--active-submenu-->
                        <div class="sidebar-header left-sidebar-header">
                            <h3>News!</h3>
                            <a href="https://www.facebook.com/wheatlandcounty"><i class="fa fa-twitter"></i></a>
                            <a href="https://twitter.com/Wheatlandcounty"><i class="fa fa-facebook"></i></a>
                            <a class="close-sidebar" href="#"><i class="fa fa-times"></i></a>
                            <div class="clear"></div>
                        </div>
                        <div class="sidebar-divider">Article List Styles</div>
                        <a class="menu-item close-submenu" href="#">
                            <i class="fa fa-level-up"></i>
                            Back to Menu
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="menu-item" href="news-article-list-1.html">
                            <i class="fa fa-list-ul"></i>
                            Article List 1
                            <i class="fa fa-circle"></i>
                        </a>
                        <a class="menu-item" href="news-article-list-2.html">
                            <i class="fa fa-list-ul"></i>
                            Article List 2
                            <i class="fa fa-circle"></i>
                        </a>
                        <a class="menu-item" href="news-article-list-3.html">
                            <i class="fa fa-list-ul"></i>
                            Article List 3
                            <i class="fa fa-circle"></i>
                        </a>
                        <a class="menu-item close-submenu" href="#">
                            <i class="fa fa-level-up"></i>
                            Back to Menu
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </div>
                </div>
            

<div class="has-submenu">
                    
                    <a class="menu-item open-submenu" href="#">
                    
                        <i class="fa fa-pencil bg-magenta-dark"></i>
                        Posts
                        <i class="fa fa-angle-right"></i>
                    </a>
                    
                    <div class="submenu">
                        <!--active-submenu-->
                        <div class="sidebar-header left-sidebar-header">
                            <h3>News!</h3>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a class="close-sidebar" href="#"><i class="fa fa-times"></i></a>
                            <div class="clear"></div>
                        </div>
                        <div class="sidebar-divider">Article post styles</div>
                        <a class="menu-item close-submenu" href="#">
                            <i class="fa fa-level-up"></i>
                            Back to Menu
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <!-- News Categories
                        <a class="menu-item" href="news-article-1.html">
                            <i class="fa fa-list-ul"></i>
                            Article Post 1
                            <i class="fa fa-circle"></i>
                        </a>
                        <a class="menu-item" href="news-article-2.html">
                            <i class="fa fa-list-ul"></i>
                            Article Post 2
                            <i class="fa fa-circle"></i>
                        </a>
                        <a class="menu-item" href="news-article-3.html">
                            <i class="fa fa-list-ul"></i>
                            Article Post 3
                            <i class="fa fa-circle"></i>
                        </a>
                        <a class="menu-item close-submenu" href="#">
                            <i class="fa fa-level-up"></i>
                            Back to Menu
                            <i class="fa fa-angle-left"></i>
                        </a>
                        -->
                    </div>
                </div>