.disabled{
    display:none!important;
}

.has-cover #mynano{
    top:0px!important;
}

/*Page Settings*/

#page-content{
    background-color:#FFFFFF;   
}

.header-fixed{
    position:fixed;
    height:60px;
    top:0px;
    left:0px;
    right:0px;
    line-height:60px;
    z-index:99;
    overflow:hidden;
    -webkit-box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.1);
    
}

.left-sidebar-header h3{
    float:left;
    font-family:'Raleway', sans-serif;
    width:102px;
    height:60px;
    line-height:60px;
    text-align:center;
    color:#FFFFFF;
    background-color:#d91e18;
    font-weight:800;
    letter-spacing:0.5px;
    font-size:18px;
    text-transform:uppercase;
    text-shadow:0px 1px 0px rgba(0,0,0,0.8);
    margin-bottom:0px;
}

.left-sidebar-header a:nth-child(2){
    border-left:none!important;
}

.left-sidebar-header a{
    float:left;
    width:56px;
    height:60px;
    line-height:60px;
    text-align:center;
    border-left:dashed 1px rgba(0,0,0,0.1);
    color:#1f1f1f;
}

.right-sidebar-header h3{
    float:right;
    font-family:'Raleway', sans-serif;
    width:102px;
    height:60px;
    line-height:60px;
    text-align:center;
    color:#FFFFFF;
    background-color:#d91e18;
    font-weight:800;
    letter-spacing:0.5px;
    font-size:18px;
    text-transform:uppercase;
    text-shadow:0px 1px 0px rgba(0,0,0,0.8);
    margin-bottom:0px;
}

.right-sidebar-header a:nth-child(4){
    border-left:none!important;
}

.right-sidebar-header a{
    float:right;
    width:56px;
    height:60px;
    line-height:60px;
    text-align:center;
    border-left:dashed 1px rgba(0,0,0,0.1);
    color:#1f1f1f;
}

.header-icon-1{
    float:right;
    width:60px;
    height:60px;
    line-height:60px;
    text-align:center;
    color:#1f1f1f;
    margin-right:120px;
    border-left:dashed 1px rgba(0,0,0,0.1);
    border-right:dashed 1px rgba(0,0,0,0.1);
}

.header-icon-2{
    float:right;
    width:60px;
    height:60px;
    line-height:60px;
    margin-top:-60px;
    margin-right:60px;
    text-align:center;
    color:#1f1f1f;
    border-right:dashed 1px rgba(0,0,0,0.1);
}

.header-icon-3{
    float:right;
    width:60px;
    height:60px;
    line-height:60px;
    margin-top:-60px;
    text-align:center;
    color:#1f1f1f;
}

.header-logo{
    font-family:'Raleway', sans-serif;
    width:115px;
    text-align:center!important;
    color:#FFFFFF;
    /*background-color:#d91e18;*/
    font-weight:800;
    letter-spacing:0.5px;
    font-size:18px;
    text-transform:uppercase;
    text-shadow:0px 1px 0px rgba(0,0,0,0.8);
    background-image: url(../images/wheatland_logo.png);
    background-repeat: no-repeat;
        background-size: 100%;
        background-position: left center;
        margin-left: 27px;

}

.footer{
    border-top:solid 1px rgba(0,0,0,0.1);
    background-color:#FFFFFF;
}

.footer .footer-strip{
    margin-bottom:0px;
    padding-bottom:20px;
    padding-top:20px;
    border-top:solid 1px rgba(0,0,0,0.1);
}

.footer-logo{
    color:#1f1f1f;
    padding-top:40px;
    font-weight:800;
}

@media(max-width:768px){
    .footer-logo{
        font-family:'Raleway', sans-serif;
        text-align:center;
        font-size:24px;
    }

    .footer-text{
        text-align:center;
        max-width:300px;
        margin-left:auto;
        margin-right:auto;
    }

    .footer-socials{
        width:285px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:40px;
    }

    .footer-socials a{
        width:40px;
        height:40px;
        float:left;
        line-height:40px;
        text-align:center;
        margin-left:4px;
        margin-right:3px;
    }

    .footer-strip{
        text-align:center;
        margin-bottom:15px;
        font-size:12px;
    }
    
    .footer-decoration{
        height:3px;
        width:50px;
        margin-left:auto;
        margin-right:auto;
        background-color:#e34e47;
        margin-bottom:20px;
    }
}


@media(min-width:768px){
    .footer-logo{
        font-family:'Raleway', sans-serif;
        text-align:center;
        font-size:27px;
    }

    .footer-text{
        text-align:center;
        max-width:300px;
        margin-left:auto;
        margin-right:auto;
    }

    .footer-socials{
        width:385px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:40px;
    }

    .footer-socials a{
        width:40px;
        height:40px;
        float:left;
        line-height:40px;
        text-align:center;
        margin-left:12px;
        margin-right:12px;
    }

    .footer-strip{
        text-align:center;
        margin-bottom:15px;
        font-size:12px;
    }
    
    .footer-decoration{
        height:3px;
        width:50px;
        margin-left:auto;
        margin-right:auto;
        background-color:#e34e47;
        margin-bottom:20px;
    } 
}

.heading-badge h3{
    width:95px;
    text-align:center;
    margin-bottom:0px!important;
    line-height:25px;
    font-size:12px;
    font-weight:400;
    padding-top:3px;
    padding-bottom:0px;
}

.heading-badge{
    margin-bottom:20px;
    border-width:3px!important;
}

.heading-title{
    text-align:center;
    font-size:19px;
    font-weight:650!important;
    padding-bottom:10px;
}

.heading-title-large{
    text-align:center;
    font-size:22px;
    font-weight:600!important;
    padding-bottom:10px;
}

.heading-style p{
    width:90%!important;
    margin-left:auto;
    margin-right:auto;
}

.heading-style .line{
    z-index:1;
    width:280px;
    margin-left:auto;
    margin-right:auto;
    margin-top:25px;
    margin-bottom:25px;
    display:block;
    height: 1px;
    background: black;
    background: -webkit-gradient(linear, 0 0, 100% 0, from(#ececec), to(#ececec), color-stop(50%, rgba(0,0,0,0.2)));
    background: gradient(linear, 0 0, 100% 0, from(#ececec), to(#ececec), color-stop(50%, rgba(0,0,0,0.2)));
}

.heading-style i{
    background-color:#FFFFFF;
    font-size:24px;
    height:40px;
    width:50px;
    text-align:center;
    line-height:40px;
    color:#666666;
    position:absolute;
    top:38px;
    left:50%;
    margin-left:-25px;
    z-index:2;
}

.heading-style p{
    width:300px;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

/*Content Strip*/
.content-strip{
    overflow:hidden;
    padding-top:35px;
    padding-bottom:30px;
    margin-bottom:30px;
}

@media(min-width:768px){
    .content-strip .strip-content h4{text-align:center;}
    .content-strip .strip-content p{text-align:center;}
    .content-strip .strip-content i{display:none;}
    .content-strip .strip-subtitle{text-align:center; max-width:500px;  margin:0 auto;}
}

.content-strip .strip-content{
    position:relative;
    z-index:3;
}

.content-strip .strip-subtitle{
    z-index:3;
    color:#FFFFFF;
    padding-left:30px;
    padding-right:30px;
    padding-top:20px;
    margin-bottom:0px;
}

.content-strip .strip-content h4{
    color:#FFFFFF;
    padding-left:30px;
    padding-right:30px;
    font-size:20px;
    margin-bottom:5px;
}

.content-strip .strip-content p{
    color:rgba(255,255,255,0.6);
    padding-left:30px;
    padding-right:30px;
    margin-bottom:0px;
}

.content-strip .strip-content i{
    position:absolute;
    right:0px;
    height:100px;
    top:-20px;
    width:25px;
    color:rgba(255,255,255,0.9);
    line-height:93px;
    margin-right:30px;
    font-size:30px;
}


.content-strip .overlay{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:1;
    background-color:rgba(0,0,0,0.7);
}

.content-strip img{
    position:absolute;
    width:150%;
    top:0px;
    left:0px;
    z-index:0;
}

/*Header Search*/

.header-search{
    position:absolute;
    z-index:9;
    background-color:#FFFFFF;
    height:50px;
    width:100%;
    line-height:40px;
    -moz-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;    
}

.active-search{
    -moz-transform: translateY(60px);
    -webkit-transform: translateY(60px);
    -o-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);    
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;    
}

.header-search input{
    font-family:'Roboto', sans-serif;
    line-height:50px;
    color:rgba(0,0,0,0.8);
    font-style:italic;
    width:100%;
    padding-left:20px;
    padding-right:20px;
}

.header-search a{
    width:61px;
    height:50px;
    line-height:50px;
    text-align:center;
    position:absolute;
    right:0px;
    top:0px;
    color:#1f1f1f;
}

#contact_form_wrapper
{
    width: 70%;
    margin-right: auto;
    margin-left: auto;
}

#contact_form_wrapper input
{
    border-radius: 5px !important;
}

#contact_form_wrapper select
{
    background: white !important;
    color: black !important;
}

#contact_form_wrapper option
{
    background: white !important;
    color: black !important;
}

#contact_form_wrapper label
{
    margin-left: 0px !important;
}
